<form action="form">
    <label for="clients" class="form-label">Clients:</label>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Intitulé</th>
                    <th>Matricule Fiscale</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>tel</th>
                    <th>Fax</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="form-control" type="text" name="id" id="id" placeholder="id"></td>
                    <td><input class="form-control" type="text" name="intitule" id="intitule" value="Si wajih"></td>
                    <td><input class="form-control" type="text" name="matriculeFiscale" id="matriculeFiscale" value="54548 4545 454"></td>
                    <td><input class="form-control" type="text" name="email" id="email" value="wajihsayes@gmail.com"></td>
                    <td><input class="form-control" type="text" name="adresse" id="adresse" value="Tunis,Monastir"></td>
                    <td><input class="form-control" type="text" name="tel" id="tel" value="+216 27553981"></td>
                    <td><input class="form-control" type="text" name="tel" id="tel" value="+216 71553981"></td>
                    <td><button class="btn btn-success">Ajout</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><input class="form-control" type="text" name="intitule" id="intitule" value="Si wajih"></td>
                    <td><input class="form-control" type="text" name="matriculeFiscale" id="matriculeFiscale" value="54548 4545 454"></td>
                    <td><input class="form-control" type="text" name="email" id="email" value="wajihsayes@gmail.com"></td>
                    <td><input class="form-control" type="text" name="adresse" id="adresse" value="Tunis,Monastir"></td>
                    <td><input class="form-control" type="text" name="tel" id="tel" value="+216 27553981"></td>
                    <td><input class="form-control" type="text" name="tel" id="tel" value="+216 71553981"></td>
                    <td><button class="btn btn-danger">Supprimer</button></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10"><button class="btn btn-success">Save</button></td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>