<form [formGroup]="clientForm">
    <label for="articles" class="form-label">Fournisseurs:</label>
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td class="form-label">search:</td>
                    <td><input type="search" name="" id="" class="form-control" (input)="onSearchChange($event)"></td>
                    <td class="form-label">Sorted By:</td>
                    <td>
                        <select name="" id="" class="form-control" (change)="onSortChange($event)">
                            <option value="0">Intitulé</option>
                            <option value="1">Adresse</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>intitulé</th>
                <th>IatriculeFiscale</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>tel</th>
                <th>fax</th>
            </tr>
            </thead>
            <tbody>
                @for (item of filteredFournisseurs; track $index) {
                    <tr>
                        <td>{{$index}}</td>
                        <td>{{item?.intitule}}</td>
                        <td>{{item?.matriculeFiscale}}</td>
                        <td>{{item?.email}}</td>
                        <td>{{item?.adresse}}</td>
                        <td>{{item?.tel}}</td>
                        <td>{{item?.fax}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>