<!-- carousel.component.html -->
<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img class="img-fluid" src="../assets/images.jpg" alt="Image 1">
    </ng-template>
    <ng-template carouselSlide>
      <img class="img-fluid" src="../assets/pngtree-creative-synthetic-businessman-and-city-picture-image_1074449.jpg" alt="Image 2">
    </ng-template>
    <ng-template carouselSlide>
      <img class="img-fluid" src="../assets/images (1).jpg" alt="Image 3">
    </ng-template>
  </owl-carousel-o>
  