<form [formGroup]="articleForm">
    <label for="articles" class="form-label">Les Articles:</label>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>refArticle</th>
                    <th>refFournisseur</th>
                    <th>Fournisseur</th>
                    <th>Designation</th>
                    <th>Famille</th>
                    <th>Model</th>
                    <th>Achat HT<span>(DNT)</span></th>

                    <th>Fodec<span>(DNT)</span></th>
                    <th>TVA<span>(%)</span></th>
                    <!--<th>Timbre</th>-->
                    <th>Marge<span>(%)</span></th>
                    <th>Mont Marge<span>(DNT)</span></th>
                    <th>Vente Ht<span>(DNT)</span></th>
                    <!--<th>Achat TTC</th>-->
                    <th>Vente TTC<span>(DNT)</span></th>
                    <th>Unite</th>
                    <th>Devise</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td><input class="form-control" type="text" name="refArticle" id="refArticle" formControlName="refArticle"></td>
                    <td><input class="form-control" type="text" name="refFournisseur" id="refFournisseur" formControlName="refFournisseur"></td>
                    <td>
                        <select  class="form-control" name="fournisseur" id="fournisseur" formControlName="fournisseur">
                            @for (fournisseur0 of fournisseurs; track $index) {
                                <option [value]="$index">{{fournisseur0.intitule}}</option>
                            }
                        </select>
                    </td>
                    <td><input class="form-control" type="text" name="designation" id="designation" formControlName="designation"></td>
                    <td>
                        <select  class="form-control" name="famille" id="famille" formControlName="famille">
                            @for (famille of familles; track $index) {
                                <option [value]="$index">{{famille.nomFamille}}</option>
                            }
                        </select>
                    </td>
                    <td><input class="form-control" type="text" name="model" id="model" formControlName="model"></td>
                    <td><input class="form-control" type="text" name="achatHT" id="achatHT" formControlName="achatHT" (keyup)="calcule()"></td>
                    
                    <td>
                        <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="fodec" id="fodec" formControlName="fodec" (keyup)="calcule()">
                        </div>
                    </td>
                    <td>
                        <select class="form-control" name="tva" id="tva" formControlName="tva" (change)="calcule()">
                            @for(tva of tvaList;track $index){
                                    <option [value]="$index">{{tva}}%</option>
                            }
                        </select>
                    </td>
                    <!--<td><input class="form-control" type="text" name="timbre" id="timbre" formControlName="timbre" (keypress)="calcule()"></td>-->
                    <td><input class="form-control" type="text" name="marge" id="marge" formControlName="marge" (keyup)="calcule()"></td>
                    <td><input class="form-control" type="text" name="montantMarge" id="montantMarge" formControlName="montantMarge"></td>
                    <td><input class="form-control" type="text" name="ventetHT" id="ventetHT" formControlName="venteHT"></td>
                    <!--<td><input class="form-control" type="text" name="achatTTC" id="achatTTC" formControlName="achatTTC"></td>-->
                    <td><input class="form-control" type="text" name="venteTTC" id="venteTTC" formControlName="venteTTC"></td>
                    <td>
                        <select class="form-control" name="unite" id="unite" formControlName="unite">
                            @for(unite of unites;track $index){
                                <option [value]="$index">{{unite}}</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select class="form-control" name="deveise" id="devise" formControlName="devise">
                            @for(devise of devises;track $index){
                                    <option [value]="$index">{{devise}}</option>
                            }
                        </select>
                    </td>
                    <td><button class="btn btn-success" (click)="onAdd()">Ajout</button></td>
                </tr>
                @for( article of articles; track $index){
                    <tr>
                        <td>{{$index+1}}</td>
                        <td><input class="form-control" type="text" name="refArticle" id="refArticle" [value]="article.refArticle"  (keyup)="check(article,$event,'refArticle')"></td>
                        <td><input class="form-control" type="text" name="refFournisseur" id="refFournisseur" [value]="article.refFournisseur" (keyup)="check(article,$event,'refFournisseur')"></td>
                        <td>
                            <select  class="form-control" name="fournisseur" id="fournisseur" (change)="check(article,$event,'idFournisseur')">
                                <option [value]="article.fournisseur.idFournisseur">{{article.fournisseur.intitule}}</option>
                                @for(fournisseur1 of fournisseurs;track $index){
                                    @if(article.fournisseur.idFournisseur != fournisseur1.idFournisseur){
                                        <option [value]="fournisseur1.idFournisseur">{{fournisseur1.intitule}}</option>
                                    }
                                }

                            </select>
                        </td>
                        <td><input class="form-control" type="text" name="designation" id="designation" [value]="article.designation" (keyup)="check(article,$event,'designation')"></td>
                        <td>
                            <select  class="form-control" name="famille" id="famille"  (change)="check(article,$event,'idFamille')">
                                <option [value]="article.idFamille">{{article.famille.nomFamille}}</option>
                                @for (famille of familles; track $index) {
                                    @if(famille.idFamille !== article.famille.idFamille){
                                        <option [value]="famille.idFamille">{{famille.nomFamille}}</option>
                                    }
                                }
                            </select>
                        </td>
                        <td><input class="form-control" type="text" name="model" id="model" [value]="article.model" (keyup)="check(article,$event,'model')"></td>
                        <td><input class="form-control" type="text" name="achatHT" id="achatHT" [value]="article.achatHT" (keyup)="check(article,$event,'achatHT')"></td>
                        
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" [name]="article.idArticle"  [id]="article.idArticle" [checked]="article.fodec" (change)="check(article,$event,'fodec')">
                            </div>
                        </td>
                        <td>
                            <select class="form-control" name="tva" id="tva" (change)="check(article,$event,'tva')">
                                <option [value]="article.tva">{{article.tva}}%</option>
                                @for(tva of tvaList;track $index){
                                    @if(tva != article.tva){
                                        <option [value]="tva">{{tva}}%</option>
                                    }
                                }

                            </select>
                        </td>
                        <!--<td><input class="form-control" type="text" name="timbre" id="timbre" [value]="article.timbre"></td>-->
                        <td><input class="form-control" type="text" name="marge" id="marge" [value]="article.marge" (keyup)="check(article,$event,'marge')"></td>
                        <td><input class="form-control" type="text" name="montantMarge" id="montantMarge" [value]="article.montantMarge" disabled="disabled" (change)="check(article,$event,'montantMarge')"></td>
                        <td><input class="form-control" type="text" name="venteHT" id="venteHT" [value]="article.venteHT" disabled="disabled" (change)="check(article,$event,'venteHT')"></td>
                        <!--<td><input class="form-control" type="text" name="achatTTC" id="achatTTC" [value]="article.achatTTC"></td>-->
                        <td><input class="form-control" type="text" name="venteTTC" id="venteTTC" [value]="article.venteTTC" disabled="disabled" (change)="check(article,$event,'venteTTC')"></td>
                        <td>
                            <select class="form-control" name="unite" id="unite" (change)="check(article,$event,'unite')">
                                <option [value]="article.unite">{{article.unite}}</option>
                                @for(unite of unites;track $index){
                                    @if( unite != article.unite){
                                        <option [value]="unite">{{unite}}</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <select class="form-control" name="deveise" id="devise" (change)="check(article,$event,'devise')">
                                <option [value]="article.devise">{{article.devise}}</option>
                                @for(devise of devises;track $index){
                                    @if( devise != article.devise){
                                        <option [value]="devise">{{devise}}</option>
                                    }
                                }
                            </select>
                        </td>
                        <td><button class="btn btn-danger" (click)="onDelete(article.idArticle)">Supprimer</button></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                @if(articlesUpdated.length>0){
                    <tr>
                        <td colspan="19"><button class="btn btn-success" (click)="onSave()">Save</button></td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
    
</form>