<div>
    <app-bon-liv-a-details class="articleDetails" (click)="Active()" [ngClass]="isActive ? 'active' : 'hidden'" [article] = selectedBonLiv></app-bon-liv-a-details>
</div>
<form [formGroup]="bonForm">
    <label for="articles" class="form-label">Bons de livraison:</label>
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td class="form-label">search:</td>
                    <td><input type="search" name="" id="" class="form-control" (input)="onSearchChange($event)"></td>
                    <td class="form-label">Sorted By:</td>
                    <td>
                        <select name="" id="" class="form-control" (change)="onSortChange($event)">
                            <option value="1">Nom Fournisseur</option>
                            <option value="0">Date</option>
                            <option value="3">Transfared</option>
                            <option value="2"> Non Transfared</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>#</th>
                <th>Fournisseur</th>
                <th>Date</th>
                <th>Facture</th>
                <th>bon d'entrée</th>
                <th>trans</th>
            </thead>
            <tbody>
                @for (item of filteredBons; track $index) {
                    <tr (click)="select(item)">
                    <td>{{$index}}</td>
                    <td>{{item.fournisseur?.intitule|| item.bonCmdA?.fournisseur?.intitule}}</td>
                    <td>{{item.dateCreation}}</td>
                    <td>{{item?.facture?.id}}</td>
                    <td>{{item?.bonCmdA?.id}}</td>
                    <td>
                        <input type="checkbox" class="form-check-input" name="trans" id="trans" [checked]="item.trans">
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>