<form [formGroup]="bonForm">
    <label for="articles" class="form-label">Bons de livraison:</label>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>#</th>
                <th>Nom</th>
                <th>MatriculeFiscale</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>tel</th>
                <th>fax</th>
                <th>exonere</th>
            </thead>
            <tbody>
                @for (item of bonList; track $index) {
                    <tr>
                    <td>{{$index}}</td>
                    <td>{{item?.name}}</td>
                    <td>{{item?.matriculeFiscale}}</td>
                    <td>{{item?.email}}</td>
                    <td>{{item?.adresse}}</td>
                    <td>{{item?.tel}}</td>
                    <td>{{item?.fax}}</td>
                    <td>
                        <input type="checkbox" class="form-check-input" name="trans" id="trans" [checked]="item.exonere">
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>