<form [formGroup]="bonForm">
    <label for="articles" class="form-label">Bons de livraison:</label>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>#</th>
                <th>Fournisseur</th>
                <th>Date</th>
                <th>Facture</th>
                <th>Devis</th>
                <th>trans</th>
            </thead>
            <tbody>
                @for (item of bonList; track $index) {
                    <td>{{$index}}</td>
                    <td>{{item.fournisseur.intitule}}</td>
                    <td>{{item.dateCreation}}</td>
                    <td>{{item?.facture?.id}}</td>
                    <td>{{item?.devis?.id}}</td>
                    <td>
                        <input type="checkbox" class="form-control" name="trans" id="trans" [checked]="item.trans">
                    </td>
                }
            </tbody>
        </table>
    </div>
</form>