<div>
    <app-bon-liv-v-details class="articleDetails" (click)="Active()" [ngClass]="isActive ? 'active' : 'hidden'" [bonLiv] = selectedBonLiv></app-bon-liv-v-details>
</div>
<form [formGroup]="bonForm">
    <label for="articles" class="form-label">Bons de livraison:</label>
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td class="form-label">search:</td>
                    <td><input type="search" name="" id="" class="form-control" (input)="onSearchChange($event)"></td>
                    <td class="form-label">Sorted By:</td>
                    <td>
                        <select name="" id="" class="form-control" (change)="onSortChange($event)">
                            <option value="1">Nom Client</option>
                            <option value="0">Date</option>
                            <option value="3">Transfared</option>
                            <option value="2"> Non Transfared</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>#</th>
                <th>Client</th>
                <th>Date</th>
                <th>Facture</th>
                <th>Devis</th>
                <th>trans</th>
                <th>action</th>
            </thead>
            <tbody>
                @for (item of filteredBons; track $index) {
                    <tr (dblclick)="select(item)">
                        <td>{{$index}}</td>
                        <td>{{item.client.name}}</td>
                        <td>{{item.dateCreation}}</td>
                        <td>{{item?.facture?.id}}</td>
                        <td>{{item?.devis?.id}}</td>
                        <td>
                            <input type="checkbox" class="form-check-input" name="trans" id="trans" [checked]="item.trans">
                        </td>
                        <td><button class="btn btn-primary" (click)="down(item?.id)">imprimé</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
