<form [formGroup]="search">
    <label for="articles" class="form-label">Bon de retour:</label>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>n° bon de livraison</th>
                </tr>
                <tr>
                    <td>
                        <input class="form-control" type="search" name="search" id="search" formControlName="id"(click)="onClick()" >
                    </td>
                </tr>

            </thead>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Ref Article</th>
                    <th>Qte</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>
                        n°facture
                    </td>
                    <td>
                        client
                    </td>
                    <td>
                        date
                    </td>
                    <td>
                        <input type="text" class="form-control" name="qte" id ="qte">
                    </td>
                    <td>
                        <button class="btn btn-danger">Supprimer</button>
                    </td>
                </tr>

            </thead>
        </table>
    </div>
</form>