<form [formGroup]="search">
    <label for="articles" class="form-label">Bon de retour:</label>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>n° bon de livraison</th>
                </tr>
                <tr>
                    <td>
                        <input class="form-control" type="search" name="search" id="search" formControlName="id" (search)="onClick()" >
                    </td>
                </tr>

            </thead>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>dateCreation</th>
                    <th>Clear</th>
                </tr>

            </thead>
            <tfoot>
                @if (bon?.id != null) {
                    <tr>
                        <td>{{bon?.client?.name}}</td>
                        <td>{{bon?.dateCreation}}</td>
                        <td><button class="btn btn-primary">clear</button></td>
                    </tr>
                }
            </tfoot>

        </table>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Ref Article</th>
                    <th>Designiation</th>
                    <th>Qte</th>
                    <th>Action</th>
                </tr>
                @if (bon?.id != null) {

                    @for (item of bon?.items; track $index) {
                        <tr>
                            <td>
                                {{item?.article?.refArticle}}
                            </td>
                            <TD>
                                {{item?.article?.designation}}
                            </TD>
                            <td>
                                <input type="text" class="form-control" name="qte" id ="qte" (keyup)="change3(item,'qte',$event)" [value]="item?.qte">
                            </td>
                            <td>
                                <button class="btn btn-danger" (click)="remouve(item?.id)" >Supprimer</button>
                            </td>
                        </tr>
                    }
                }

            </thead>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <button class="btn btn-primary" (click)="save()" >Save</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>