<form [formGroup]="search">
    <label for="articles" class="form-label">Bon de retour:</label>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>n° bon de livraison</th>
                </tr>
                <tr>
                    <td>
                        <input class="form-control" type="search" name="search" id="search" formControlName="id"(submit)="onClick()" >
                    </td>
                </tr>

            </thead>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Ref Article</th>
                    <td>
                        Client
                    </td>
                    <td>
                        Date
                    </td>
                    <th>Qte</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>
                        ref article
                    </td>
                    <td>
                        client
                    </td>
                    <td>
                        date
                    </td>
                    <td>
                        <input type="text" class="form-control" name="qte" id ="qte">
                    </td>
                    <td>
                        <button class="btn btn-danger">Supprimer</button>
                    </td>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <button class="btn btn-primary">Save</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>