<main>
    @if (pageName=="depot") {
        <div>
            <div class="heading">
                <app-depot></app-depot>
             </div>
        </div>
    }
    @else if (pageName=="famille") {
        <div>
            <div class="heading">
                <app-famille></app-famille>
            </div>
        </div>
    }
    @else if (pageName=="article") {
        <div>
            <div class="heading">
                <app-article></app-article>
            </div>
        </div>
    }
    @else if (pageName=="client") {
        <div>
            <div class="heading">
                <app-client></app-client>
            </div>
        </div>
    }
    @else if (pageName=="fournisseur") {
        <div>
            <div class="heading">
                <app-fournisseur></app-fournisseur>
            </div>
        </div>
    }
</main>
