<main>
    @if (pageName=="depot") {
        <div>
            <div class="heading">
                <app-depot></app-depot>
             </div>
        </div>
    }
    @else if (pageName=="famille") {
        <div>
            <div class="heading">
                <app-famille></app-famille>
            </div>
        </div>
    }
    @else if (pageName=="article") {
        <div>
            <div class="heading">
                <app-article></app-article>
            </div>
        </div>
    }
    @else if (pageName=="client") {
        <div>
            <div class="heading">
                <app-client></app-client>
            </div>
        </div>
    }
    @else if (pageName=="fournisseur") {
        <div>
            <div class="heading">
                <app-fournisseur></app-fournisseur>
            </div>
        </div>
    }
    @else if (pageName=="achat_bon_cmd") {
        <div>
            <div class="heading">
                <app-bon-cmd></app-bon-cmd>
            </div>
        </div>
    }
    @else if (pageName=="achat_bon_liv") {
        <div>
            <div class="heading">
                <app-bon-liv></app-bon-liv>
            </div>
        </div>
    }
    @else if (pageName=="achat_facture") {
        <div>
            <div class="heading">
                <app-facture></app-facture>
            </div>
        </div>
    }
    @else if (pageName=="vente_devis") {
        <div>
            <div class="heading">
                <app-devis></app-devis>
            </div>
        </div>
    }
    @else if (pageName=="vente_bon_liv") {
        <div>
            <div class="heading">
                <app-bon-liv-v></app-bon-liv-v>
            </div>
        </div>
    }
    @else if (pageName=="vente_facture") {
        <div>
            <div class="heading">
                <app-facture-v></app-facture-v>
            </div>
        </div>
    }
    @else if (pageName=="stock") {
        <div>
            <div class="heading">
                <app-stock ngSkipHydration></app-stock>
            </div>
        </div>
    }
    @else if (pageName=="allClients") {
        <div>
            <div class="heading">
                <app-clients></app-clients>
            </div>
        </div>
    }
    @else if (pageName=="allFournisseurs") {
        <div>
            <div class="heading">
                <app-fournisseurs></app-fournisseurs>
            </div>
        </div>
    }
    @else if (pageName=="allbe") {
        <div>
            <div class="heading">
                <app-bla></app-bla>
            </div>
        </div>
    }
    @else if (pageName=="allbs") {
        <div>
            <div class="heading">
                <app-blv></app-blv>
            </div>
        </div>
    }
</main>
