<div class="some-element">
    <app-carousel></app-carousel>
</div>
<div class="some-element">
    <main class="container">
        <div class="row justify-content-center align-items-center row1">
            <div class="col-md-3 col-sm-6 col-xs-10 row1Elem">
                <div class="row1Name">Company Number</div>
                <div class="row1Value" >0></div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-10 row1Elem">
                <div class="row1Name">Users Number</div>
                <div class="row1Value" >0></div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-10 row1Elem">
                <div class="row1Name">Product Number</div>
                <div class="row1Value" >0></div>
            </div>
        </div>
</main>
</div>
