@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'ngx-toastr/toastr';
*.element {
  zoom: 2; /* This scales the element by 2 times */
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root{
    --main: #131313;
    --secondary:rgb(228, 228, 228);
}
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
/* Note: This might not work in all versions of Firefox */
/* For newer versions of Firefox, you might need to use a different approach */
html {
    scrollbar-width: none; /* Firefox 64+ */
    -ms-overflow-style: none;
}
body {
    scrollbar-width: none; /* Firefox 64+ */
}

/* Hide scrollbar for Edge */
/* Note: Edge currently supports only hiding the scrollbar by setting width to 0 */
/* This might not completely hide the scrollbar, but reduces its width to the minimum */
@supports (-ms-ime-align: auto) {
    ::-webkit-scrollbar {
        width: 0;
    }
}
.form-check-input{
    min-width: 70px;
    min-height: 40px;
    background-color: #333333c4 !important;
    border-radius: 5px;
    margin: 0 !important;
}
.form-check,.form-switch{
    margin: 0 !important;
    padding: 0 !important;

}