<form >
    <label for="articles" class="form-label">Bon De Livraison:</label>
    <div class="table-responsive">
        <table class="table" >
            <thead>
                <tr>
                    <th>Generer Une Facture</th>
                    <th colspan="1">Date Facture:</th>
                    <td colspan="1">
                        <input type="date" class="form-control" name="date" id="date">
                    </td>
                    <td style="text-align: center;">
                        <button type="button" class="btn btn-primary" (click)="generer()">Generer</button>
                        <button type="button" class="btn btn-danger"(click)="f.supp()">Suprimer</button>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Bon Liv n°</th>
                    <th>Date</th>
                    <th>Fournisseur</th>
                    <th style="text-align: center;">Selectionné</th>
                </tr>
                @for (bon of f.getBonList(); track $index) {
                    <tr>
                        <td>{{bon.id}}</td>
                        <td>{{bon.dateCreation}}</td>
                        <td>{{bon.bonCmdA.fournisseur.intitule}}</td>
                        <td style="text-align: center;"><input class="form-check-input" type="checkbox" (change)="f.select(bon.id,$event)" value=""></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>